:root {
  --bg-color: #e5e5e5;
  --text-color: #171717;
  --accent-color: #4e4e4e;
  --hover-color: #ba9afb;
  --outline-color: #4c6ef5;
  --outline-hover-color: #171717;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  height: 100vh;
}

.page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 20px;
}

.name {
  align-self: end;
  font-size: 36px;
  color: var(--text-color);
}

.buttonContainer {
  align-self: start;
  display: flex;
  justify-content: center;
  width: 100%;
}

.walkingIcon:hover {
  color: var(--outline-color);
}