@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin-top: 10px auto;
    padding: 0 5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bigNameContainer {
    display: flex;
    flex-flow: wrap;
    width: fit-content;
    border-bottom: 5px solid rgb(112, 60, 184);
    border-radius: 10px;
}
.bigName {
    font-size: 160px;
}


.aboutContainer {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    letter-spacing: 2px;
}

.aboutText {
    line-height: 25px;
    font-size: 14px;
    font-family: monospace;
}
.projects {
    padding-bottom: 50px;
}


.backButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    border-bottom: 2px solid transparent;
    width: 25px;
    border-bottom: 2px solid transparent;
}

.backButton:hover {
  color: rgb(112, 60, 184);
  border-bottom: 2px solid;
  border-color: #222;
}

.crossContainer {
  margin-top: 2%;
}

.cross {
  font-size: 100px;
}

.faithContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 50vh;
}


/* ---- Media Queries for Responsiveness ---- */

@media (max-width: 1024px) {
    .title {
      font-size: 16px; /* Reduce size for tablets */
    }
  
    .bigName {
      font-size: 90px; /* Reduce size for tablets */
    }

    .cross {
      font-size: 75px;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 16px; /* Reduce size for tablets */
    }
  
    .bigName {
      font-size: 90px; /* Reduce size for tablets */
    }

    .cross {
      font-size: 50px;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 12px; /* Reduce size for tablets */
    }
  
    .bigName {
      font-size: 90px; /* Reduce size for tablets */
    }

    .cross {
      font-size: 50px;
    }
  }